{
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false
}
